.hero {
    display: flex;
    padding: 50px 30px;
    gap: 1.5rem;
}

.hero-content {
  max-width: 600px;
  margin-right: 20px;

}

.hero-title {
  font-size: 2.3rem;
  font-weight: 700;
  color: #333; /* dark gray */
}



.hero-image {
  /* flex: 1; */
  display: flex;
  gap: 1rem;
  ;
  /* max-width: 500px;
  max-height: 100vh */
}

.image-greece {
  width: 100%;
  height: auto;
  border-radius: 16px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  transition: transform 0.3s ease;
}

.image-usa-chc {
  width: 100%;
  height: auto;
  border-radius: 16px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.image-usa {
  width: 100%;
  height: auto;
  border-radius: 16px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  transition: transform 0.3s ease;
}

.image-chc {
  width: 100%;
  height: auto;
  border-radius: 16px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  transition: transform 0.3s ease;
}

.explore-btn {
  background-color: #a68e05;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.explore-btn:hover {
  background-color: #c47302; /* darker blue */
}
