.card-wrapper {
  position: relative;
  width: 340px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 6px;
  display: flex;
  justify-content: space-around;
   align-items: center;
   gap: 10px;
  opacity: 0;
  transition: 0.3s;
  border-top: 1px solid #eee;
}

.card-wrapper:hover .card-footer {
  opacity: 1;
}

.btn {
    padding: 8px 16px;
}

.icon {
    margin-top: 10px;
}